name: Generate Snake

permissions:
  contents: write

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Generate snake animation
        uses: Platane/snk@v3
        with:
          github_user_name: Student-aditya123
          outputs: github-contribution-grid-snake.svg

      - name: Commit snake animation to main
        uses: EndBug/add-and-commit@v9
        with:
          add: github-contribution-grid-snake.svg
          message: "Generate contribution snake"
          default_author: github_actions


